body {
    font-size: 1em;
    line-height: 1.5em;
    font-family: sans-serif;
    color: #333;
}

select,
input {
    border: 1px solid #AAA;
    padding: 0.25em;
    border-radius: 0.15em;
    font-size: 1em;
}

.options {
    padding: 1.5em;
    border-bottom: 1px solid #DDD;
    text-align: center;
}

.legend-group,
.formula-group,
.dataset-group {
    display: inline-block;
    margin: 0 1em;
    padding: 0 0 0 2em;
    border-left: 1px solid #DDD;
}

.formula-group {
    border: 0;
}

.composite-legend,
.prime-legend {
    display: inline-block;
    margin: 0 1em 0 0.5em;
    vertical-align: middle;
}

.composite-legend:before, 
.prime-legend:before {
    content: ' ';
    display: inline-block;
    vertical-align: middle;
    margin: -0.25em 0.5em 0 0;
    border: 1px solid #DDD;
    width: 0.75em;
    height: 0.75em;
    background: #FFF;
}

.composite-legend:before {
    background: #333;
}

.prime-canvas {
    display: block;
    margin: 2em auto;
}

.processing-indicator {
    position: absolute;
    text-align: center;
    left: 0;
    right: 0;
    display: none;
}

.processing-indicator.active {
    display: block;
}

.processing-text {
    display: inline-block;
    padding: 0.5em 1em;
    background: #39bf00;
    color: #FFF;
}